/* Renaud Vmb */

/*------ Variables ------*/

$purple: rgba(207, 188, 255, 1);
$pink-purple: rgba(204, 193, 220, 1);
$pink: rgba(238, 184, 199, 1);
$melon: rgba(242, 185, 181, 1);

$light-white: rgb(236, 237, 238);
$text: #7b838e;
$bg-black: #0d1117;
$black: rgb(34, 32, 42);
